page-home {
	.fixed-content {
        background: linear-gradient(#4285f4 160px, transparent 160px);
    }
    
	.granted{
        background-color: green;
        color: blanchedalmond;
    }
    h2 {
        padding-bottom: 10px;
    }
    .scanning-image {
        height: 150px;
        width: auto;
        margin: auto;
    }
    .card-content {
        padding: 0;
    }
    .primary .item, .primary , .toolbar-background {
        background: #4285f4;
        color: #fff;
        text-align: center;
    }
    .toolbar-title {
        color: #fff;
        text-align: center;
    }

    .item-md ion-thumbnail {
	    min-width: 1px;
	    min-height: 80px;
	    float: left;
	    width: 12%;
	}
    .item-md ion-thumbnail img {
    	width: 100%;
    	height: auto;
    }
    .item-md h2 {
	    margin: 2px 0;
	    padding-left:10px;
	    font-size: 1.6rem;
	    font-weight: 500;
	    float: left;
	    width: 40%;
	}
	.item-md h2 small {
	    display: block;
	    font-weight:300;
	}
	.item-md .itemstatus {
		width: 48%;
	    float: left;
	    text-align:right;
	}
	.item-md .itemstatus small {
		display:block;
	}
}
