<ion-content padding>

<div class="primary">
  <ion-item>
    <h1>Dynamic Time Manager</h1>
    <small>{{formattedDate}}</small>
  </ion-item>


  
   <h2>Apropiați cardul</h2>
</div>
  

  

<ion-card (click)="cuie($event)" class="aaa">
      <ion-card-content>
          <img class="scanning-image" src="assets/imgs/scan.gif" />
      </ion-card-content>
  </ion-card>
 





<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-item  *ngFor="let item of items;" (click)="istoricModal($event)" >
        <ion-thumbnail *ngIf="item.status == 'start'" slot="start" class="iostart">
          <ion-icon name="checkmark-circle"></ion-icon>
        </ion-thumbnail>
        <ion-thumbnail *ngIf="item.status == 'stop'" slot="start" class="iostop">
          <ion-icon name="hand"></ion-icon>
        </ion-thumbnail>
          <h2 *ngIf="item.status == 'start'">{{item.namedemo}} <small>a început lucrul la </small></h2>
          <h2 *ngIf="item.status == 'stop'">{{item.namedemo}} <small>a încetat lucrul la </small></h2>
          <div class="itemstatus">{{item.time}}</div>
          <div *ngIf="item.status == 'start'" class="colorbordergreen"></div>
          <div *ngIf="item.status == 'stop'" class="colorborderred"></div>
      </ion-item>
      
    </ion-list>
  </ion-card-content>
</ion-card>



 

 
</ion-content>
